.footer {
    
    display: grid;
    align-items: center;
    padding : 25px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: large;
    color: white;

}

