.header{
    display:grid;
    padding: 40px;
    font-size: 1em;
}
#name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    color: white;
    padding-bottom: -5px;
    margin-bottom: -15px;
    margin-top: -15px;
}

#d1 {
    font-family: Bungee-Regular;
}
#update {
    margin-top:-1px;
    margin-left: 10px;
    color: white;
    font-size: 1.3em;
}

#Dat {
    margin-top: 8px;
    color: white;
    margin-left: 10px;
    font-size: 0.8em;
}

/* media query */

@media screen and (max-width : 600px) {
    #name {
        margin-top: -30px;
    }
    #update {
        display: none;
    }
    #Dat {
        font-size: 1em;
    }
}

